{{/*
    
  Usage `!d bump/rank`
  Recommended trigger: `!d`
	Trigger type: Regex
  Credits: WickedWizard#3588  
  Please read through the code properly and try to learn, rather than copying. Same goes for the other cc's here too.
  The LeaderBoards are against Disboard's ToS, use them at your own risk
  
  */}}
 
{{/*Configuration Variables Start*/}}
{{$url := "https://disboard.org/server/721592235359207545"}} {{/*Your Servers Disboard URL*/}}
{{$reminderchannel := 765523055946367017}}{{/*Channel ID where Remainders are to be sent every hour*/}}
{{$bumprole := 779226286593015808}}
{{/*Configuration Values End*/}}
 
{{$args := parseArgs 1 "You need to specify either `!d bump` or `!d help` or `!d lb` or `!d rank`" (carg "string" "Function Type")}}
{{$BumpXP := dbGet .User.ID "BumpXP"}}
{{if eq ($args.Get 0) "bump"}}
    {{if $cooldown := dbGet 0 "Cooldown"}}
        HELP
        {{deleteResponse 0}}
    {{else}}
{{execAdmin "clean" 1 302050872383242240}}
        {{dbSetExpire 0 "Cooldown" "Cooldown" 7200}}
        {{$success := sendMessageRetID nil (cembed "title" "DISBOARD: The Public Server List" "url" $url "description" (print .User.Mention ", \nBump Done👍\n[Check it Here](" $url ") \nYou are bump level " $BumpXP.Value) "color" 4229631  "image" (sdict "url" "https://i.imgur.com/PvJZE7j.png") "footer" (sdict "text" "React with 🔔 to configure your Bump Pings"))}}
        {{addMessageReactions nil $success "🔔"}}
        {{$t1 := dbIncr .User.ID "BumpXP" 1}}
	{{$t2 := dbIncr 0 "Bump" 1}}
        {{editMessage $reminderchannel (toInt (dbGet 1 "Bump").Value) (print "~~<@&" $bumprole "> 🔔 You can Bump again Now!~~")}}
    {{end}}
    {{else if eq ($args.Get 0) "rank"}}
    {{sleep 1}}
    Your Bump Level is {{$BumpXP.Value}}. {{execAdmin "clean" 1 302050872383242240}}
 {{end}} 
